<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/legacystyle.css">
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>JF6.ru — Доставка товаров из Китая</title>
    <link rel="icon" href="./favicon.ico">
  </head>
  <body>
    <header>
      <table id="header">
        <td id="logo">      
          <a href="./" alt="JF6.ru" id="logo">
            <svg xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="91.2" height="28" viewBox="0 0 91.2 28">
              <defs>
                <clipPath id="a" transform="translate(-159.2 -65.4)">
                  <path d="M228.2,91.2v1.5a.7.7,0,0,1-.6.7H226a.7.7,0,0,1-.6-.7V91.2a.7.7,0,0,1,.6-.7h1.6A.7.7,0,0,1,228.2,91.2Zm9.6-12.1H233a3.2,3.2,0,0,0-3.2,3.2V92.7a.7.7,0,0,0,.7.7H232a.7.7,0,0,0,.7-.7V83.2a1.2,1.2,0,0,1,1.2-1.2h3.9a.7.7,0,0,0,.7-.7V79.8A.7.7,0,0,0,237.8,79.1Zm11.9,0h-1.5a.7.7,0,0,0-.7.7v9.5a1.1,1.1,0,0,1-1.1,1.2H244a1.2,1.2,0,0,1-1.2-1.2V79.8a.7.7,0,0,0-.6-.7h-1.6c-.4,0-.6.3-.6.7V90.3a3,3,0,0,0,3,3.1h4.4a3.1,3.1,0,0,0,3-3V79.8A.7.7,0,0,0,249.7,79.1Z" fill="none"/>
                </clipPath>
                <linearGradient id="b" x1="66.2" y1="20.88" x2="91.19" y2="20.88" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#e0b474"/>
                  <stop offset="0.01" stop-color="#e1b575"/>
                  <stop offset="0.07" stop-color="#eaba7a"/>
                  <stop offset="0.17" stop-color="#ecbb7c"/>
                  <stop offset="1" stop-color="#e8ad72"/>
                </linearGradient>
                <linearGradient id="c" x1="25.26" y1="5.14" x2="25.26" y2="28.09" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#9f6e3d"/>
                  <stop offset="0.01" stop-color="#ba8a56"/>
                  <stop offset="0.02" stop-color="#d0a26b"/>
                  <stop offset="0.03" stop-color="#deb179"/>
                  <stop offset="0.04" stop-color="#e3b67d"/>
                  <stop offset="0.15" stop-color="#e2b47b"/>
                  <stop offset="0.19" stop-color="#ddae74"/>
                  <stop offset="0.21" stop-color="#d4a369"/>
                  <stop offset="0.23" stop-color="#c89458"/>
                  <stop offset="0.24" stop-color="#c58f53"/>
                  <stop offset="0.26" stop-color="#c0894d"/>
                  <stop offset="0.3" stop-color="#ba8247"/>
                  <stop offset="0.43" stop-color="#b98045"/>
                  <stop offset="0.47" stop-color="#e1b175"/>
                </linearGradient>
                <clipPath id="d" transform="translate(-159.2 -65.4)">
                  <path d="M177.2,66V88.3a5.1,5.1,0,0,1-5.1,5.1H159.8a.7.7,0,0,1-.6-.7V88.9a.6.6,0,0,1,.6-.6h11.1a1.2,1.2,0,0,0,1.2-1.3V66a.7.7,0,0,1,.7-.6h3.8A.6.6,0,0,1,177.2,66Zm23.2-.6H182.5a.6.6,0,0,0-.6.6v3.8a.7.7,0,0,0,.6.7h17.9a.7.7,0,0,0,.7-.7V66A.7.7,0,0,0,200.4,65.4Zm-4.6,9.8H182.5a.6.6,0,0,0-.6.6v3.8a.7.7,0,0,0,.6.7h13.3a.7.7,0,0,0,.7-.7V75.8A.7.7,0,0,0,195.8,75.2Zm28,5.1v8a5.1,5.1,0,0,1-5.1,5.1H210a5.1,5.1,0,0,1-5.1-5.1V70.5a5.1,5.1,0,0,1,5.1-5.1h10.7a.6.6,0,0,1,.6.6v3.8a.7.7,0,0,1-.6.7h-9.5a1.2,1.2,0,0,0-1.2,1.2v3.5h8.7A5.1,5.1,0,0,1,223.8,80.3Zm-5.1,1.2a1.2,1.2,0,0,0-1.3-1.2h-6.2a1.2,1.2,0,0,0-1.2,1.2V87a1.2,1.2,0,0,0,1.2,1.3h6.2a1.3,1.3,0,0,0,1.3-1.3Z" fill="none"/>
                </clipPath>
                <linearGradient id="e" y1="14" x2="64.6" y2="14" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#39637a"/>
                  <stop offset="0.85" stop-color="#538f94"/>
                </linearGradient>
              </defs>
              <g clip-path="url(#a)">
                <rect x="66.2" y="13.8" width="25" height="14.23" fill="url(#b)"/>
              </g>
              <rect x="22.7" width="5.2" height="28" rx="0.7" ry="0.7" fill="url(#c)"/>
              <g clip-path="url(#d)"><rect width="64.6" height="28" fill="url(#e)"/>
              </g>
              </svg>
            </a>
        </td>
        <td>
          <h1>ДОСТАВКА ТОВАРОВ ИЗ КИТАЯ</h1>
          <h2>ГИБКИЕ УСЛОВИЯ - ПРОСТОЙ ВЫБОР</h2>
        </td>
        <td id="contacts">
          <a href="/" id="phone">
            <img src="./img/phone.png">
            <p>+7 (964) 758-77-68</p>
          </a>
          <a href="/" alt="E-mail">
            <img src="./img/mail.png">
            <p>JF6-logistics@yandex.ru</p>
          </a>
        </td>
      </table>
    </header>
    <div id="banner"></div>
    <main class="round4">
      <h3>Услуги</h3>
      <table>
        <tr>
          <td>
            <img src="./img/5.png">
          </td>
          <td>
            <img src="./img/3.png">
          </td>
        </tr>
        <tr>
          <td>
            <h4>
              Грузоперевозки из Китая в Россию и Казахстан
            </h4>
            <ol>
              <li>Доставка сборных грузов</li>
              <li>Инспекция при погрузке</li>
              <li>Транспортно-экспедиторские услуги, в том числе по Китаю</li>
            </ol>
          </td>
          <td>
            <h4>
              Поиск поставщиков
              Выкуп товара с платформ Алибаба, Таобао, 1688
            </h4>
              <ul>
                <li>По конкретному запросу найдём подходящего поставщика</li>
                <li>Проведём переговоры онлайн или офлайн</li>
                <li>Поможем утвердить образцы</li>
                <li>Поможем в заключении договоров</li>
                <li>Выкупим товар</li>
                <li>Проведем тщательную проверку товара</li>
                <li>Доставим все в целости и сохранности</li>
              </ul>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="./img/4.png">
          </td>
          <td>
            <img src="./img/6.png">
          </td>
        </tr>
        <tr>
          <td>
            <h4>
              Организация бизнес поездки в Китай
              Представитель в Китае
            </h4>
            <ul>
              <li>Поможем в поиске оптимальной гостиницы</li>
              <li>Встретим Вас в аэропорту или организуем трансфер</li>
              <li>Подготовим идеальный маршрут на всю поездку</li>
              <li>Сопроводим как на выставки, так и на рынки</li>
              <li>Примем участие в переговорах, поможем добиться лучших результатов</li>
            </ul>
          </td>
          <td>
            <h4>
              Инспекция товара
              Аудит поставщика
            </h4>
            <p>
              При проверке поставщика мы изучаем документы компании.
              Смотрим рейтинг на оптовом сайте 1688, изучаем отзывы и процент возврата.
              При проверке фабрики обязательно смотрим оборудование, производственную и складскую площадь, производственные мощности и сырье.
            </p>
            <p>
              Инспекция товара проходит строго по образцам, который утвердили ранее или по конкретным требованиям.
              Все документируем и предоставляем отчет в виде наглядной таблицы, фото и видео.
            </p>
          </td>
        </tr>
      </table>
      <h3>Преимущества</h3>
      <table>
        <tr>
          <td>
            <img src="./img/8.png">
          </td>
          <td>
            <img src="./img/7.png">
          </td>
        </tr>
        <tr>
          <td>
            <h4>Работа без посредников</h4>
            <p>Наша компания базируется в Китае, благодаря этому мы можем  оперативно и с должным опытом отсеивать недобросовестных поставщиков и выходить на лучшего партнера по бизнесу.</p>
            <p>Отправляем груз с минимальным количеством посредников, что позволяет предоставлять низкие цены и быстрые сроки доставки.</p>
          </td>
          <td>
            <h4>
              Офис  и склад в Китае
            </h4>
            <p>
              Мы работаем в городе Гуанчжоу уже более&nbsp;5&nbsp;лет.
              Все сотрудники хорошо понимают менталитет и особенности ведения бизнеса в Китае.
              Благодаря этому мы не только качественно и быстро проводим переговоры, а также помогаем достичь взаимопонимание и сплочение партнеров.
              Предоставляем нашим клентам бесплатное консолидирование груза на наших складах.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="./img/9.png">
          </td>
          <td>
            <img src="./img/10.png">
          </td>
        </tr>
        <tr>
          <td>
            <h4>
              Быстрые сроки
            </h4>
            <p>
              Минимальное количество посредников позволяет доставлять груз в быстрые сроки, а в большинстве случаев раньше обещанного времени.
              Мы работаем без выходных, что позволяет нам оперативно решать любые вопросы.
            </p>
            </td>
          <td>
            <h4>
              Оплата поставщику день в день
              Валютный перевод
            </h4>
            <p>
              Помогаем нашим клиентам решить все денежные вопросы максимально быстро и удобно.
              Находим самый выгодный курс обмена валют.
              Работаем только с проверенными компаниями.
            </p>
          </td>
        </tr>
      </table>
      <h3>Тарифы</h3>
      <table class="round4" id="tariffs">
        <thead>
        <tr>
          <th></th>
          <th>Описание</th>
          <th>Стоимость</th>
          <th>Сроки доставки</th>
        </tr>
        </thead>
        <tbody>
          <tr id="auto">
            <th>Автоперевозки</th>
            <td>Выгодные цены, гибкий график отправок</td>
            <td>от 0.8 USD/кг</td>
            <td>18-25 дней</td>
          </tr>
          <tr id="train">
            <th>Ж/Д перевозки</th>
            <td>Идеальное отношение цены и сроков достаки</td>
            <td>от 1.3 USD/кг</td>
            <td>10-15 дней</td>
          </tr>
        </tbody>
      </table>
    </main>
    <form action="https://formspree.io/mrglyebv" method="POST" class="application">
      <h3>Оставить заявку</h3>
      <table>
        <td>
          <label>Как к вам обращаться?</label>
          <input type="text" name="name" required>
          <label>Номер телефона</label>
          <input type="tel" name="phone" pattern="+7 ([0-9]{3}) [0-9]{3}-[0-9]{2}-[0-9]{2}" v-model="phone" :required="phonerequired">
          <label>Эл.почта</label>
          <input type="text" name="_replyto" v-model="mail" :required="mailrequired">
        </td>
        <td>
          <label>Комментарий</label>
          <textarea name="Comment" rows="5" cols="21" v-model="comment"></textarea>
        </td>
      </table>
      <table>
        <td>
          <label id="consent">
            Нажимая на кнопку "Отправить", вы даете<br/>
            <a href="/">согласие на обработку своих персональных данных</a>.
          </label>
        </td>
        <td>
          <input class="btn" type="submit" value="Отправить">
        </td>
      </table>
    </form>
    <footer>
      <table>
        <td>
          <h4>
            JF6.ru — товарно-транспортная компания
          </h4>
          <p>
            Доставляем грузы и налаживаем поставки из Китая с 2015 года.
            Индивидуальный подход к клиентам, трепетное обращение с грузом, проверенные партнеры.
          </p>
        </td>
        <td>
          <h5>По вопросам закупа</h5>
          <p>Ольга</p>
          <p><a href="tel:8615322317055" alt="Phone:">+86 153-22-31-70-55</a> (Китай) - WeChat</p>
          <p><a href="tel:79086681418" alt="Phone:">+7 (908) 668-14-18</a> (Россия) - <a href="https://wa.me/79086681418">WhatsApp</a></p>
        </td>
        <td>
          <h5>По вопросам логистики</h5>
          <p>Александр</p>
          <p><a href="tel:8618565303130" alt="Phone:">+86 185-65-30-31-30</a> (Китай) - WeChat</p>
          <p><a href="tel:79647587768" alt="Phone:">+7 (964) 758-77-68</a> (Россия) - <a href="https://wa.me/79647587768">WhatsApp</a></p>
        </td>
      </table>
      <p id="legal">© Оформление сайта, Монхоев С.В., 2021</p>
    </footer>
  </body>
</html>